@import "tailwindcss";

:root {
    --background: rgb(27 27 27);
    --foreground: #ededed;

    color-scheme: dark;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}
